.header{
    background: grey;
    text-align: center;
    color: white;
    padding: 70px;
    font-size: 50px;
    font-weight:900;
}

.parent{
    background: lightsalmon;
    width: 100%;
height: 350px;
display: flex;
}
.aside{
    background: #CCCCCC;
    width: 30%;

}
.content{
    float: right;
    background:white;
    width: 70%;
background: #E7E9EB;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.heading{
    font-size: 30px;
    font-weight: lighter;
   
}

.footer{
    background: lightslategrey;
    text-align: center;
    padding: 40px;
    color: white;
    font-size: 20px;
}